<div style="padding-top: 70px;" >
    <h2>Number Puzzles</h2>
    <hr class="divider">
    <div class="game-categories" role="region" aria-label="Number Puzzle game-category Selection">
        <a href="/number-puzzle/guess" class="game-category-card" data-game-category="guess">
            <img src="/imgs/number-guess-70.webp" alt="Guess Number" class="game-category-image">
            <span>Guess Number</span>
        </a>
        <a href="/number-puzzle/scramble" class="game-category-card" data-game-category="scramble">
            <img src="/imgs/number-scramble-70.webp" alt="Number Scramble" class="game-category-image">
            <span>Number Scramble</span>
        </a>
        <a href="/number-puzzle/sequence" class="game-category-card" data-game-category="sequence">
            <img src="/imgs/number-sequence-70.webp" alt="Number Sequence" class="game-category-image">
            <span>Number Sequence</span>
        </a>
        <a href="/number-puzzle/primehunter" class="game-category-card" data-game-category="sequence">
            <img src="/imgs/primehunter-70.webp" alt="Prime Hunter" class="game-category-image">
            <span>Prime Hunter</span>
        </a>
    </div>
    <h2>Word Games</h2>
    <hr class="divider">
    <div class="game-categories" role="region" aria-label="Word Games game-category Selection">
        <a href="/word-games/classic" class="game-category-card" data-game-category="guess">
            <img src="/imgs/word-guess-70.webp" alt="Guess The Word" class="game-category-image">
            <span>Guess The Word</span>
        </a>
        <a href="/word-games/anagram" class="game-category-card" data-game-category="scramble">
            <img src="/imgs/anagram.webp" alt="Anagram" class="game-category-image">
            <span>Anagram</span>
        </a>
        <a href="/word-games/spelling" class="game-category-card" data-game-category="sequence">
            <img src="/imgs/spelling-70.webp" alt="Spelling Bee" class="game-category-image">
            <span>Spelling Bee</span>
        </a>
        <a href="/word-games/wordsearch" class="game-category-card" data-game-category="sequence">
            <img src="/imgs/wordsearch-70.webp" alt="Word Search" class="game-category-image">
            <span>Word Search</span>
        </a>
    </div>
</div>
