<div style="padding-top: 70px;" >
    <h2>Word Games</h2>
    <hr class="divider">
    <div class="game-categories" role="region" aria-label="Number Puzzle Category Selection">
        <a href="/word-game/classic" class="category-card" data-category="classic">
            <img src="/imgs/guess-70.webp" alt="Guess The Word" class="category-image" width="150" height="150">
            <span>Guess The Word</span>
        </a>
        <a href="/word-game/anagram" class="category-card" data-category="anagram">
            <img src="/imgs/anagram-70.webp" alt="Anagrams" class="category-image" width="150" height="150">
            <span>Anagrams</span>
        </a>
         <a href="/word-game/spelling" class="category-card" data-category="spelling">
            <img src="/imgs/spelling-70.webp" alt="Spelling Bee" class="category-image" width="150" height="150">
            <span>Spelling Bee</span>
        </a>
        <a href="/word-game/boggle" class="category-card" data-category="boggle">
            <img src="/imgs/boggle-70.webp" alt="Spelling Bee" class="category-image" width="150" height="150">
            <span>Boggle</span>
        </a>
        <a href="/word-game/wordsearch" class="category-card" data-category="wordsearch">
            <img src="/imgs/wordsearch-70.webp" alt="Word Search" class="category-image" width="150" height="150">
            <span>Word Search</span>
        </a>
        <a href="/word-game/wordladder" class="category-card" data-category="wordladder">
            <img src="/imgs/wordladder-70.webp" alt="Word Ladder" class="category-image" width="150" height="150">
            <span>Word Ladder</span>
        </a>
    </div>
    
   <h2>Number Puzzles</h2>
    <hr class="divider">
    <div class="game-categories" role="region" aria-label="Number Puzzle Category Selection">
        <a href="/number-puzzle/guess" class="category-card" data-game-category="guess">
            <img src="/imgs/number-guess-70.webp" alt="Guess Number" class="category-image" width="150" height="150">
            <span>Guess Number</span>
        </a>
        <a href="/number-puzzle/scramble" class="category-card" data-game-category="scramble">
            <img src="/imgs/number-scramble-70.webp" alt="Number Scramble" class="category-image" width="150" height="150">
            <span>Number Scramble</span>
        </a>
        <a href="/number-puzzle/sequence" class="category-card" data-game-category="sequence">
            <img src="/imgs/number-sequence-70.webp" alt="Number Sequence" class="category-image" width="150" height="150">
            <span>Number Sequence</span>
        </a>
        <a href="/number-puzzle/numbertower" class="category-card" data-game-category="sequence">
            <img src="/imgs/numbertower-70.webp" alt="Prime Hunter" class="category-image" width="150" height="150">
            <span>Number Tower</span>
        </a>
        <a href="/number-puzzle/primehunter" class="category-card" data-game-category="sequence">
            <img src="/imgs/primehunter-70.webp" alt="Prime Hunter" class="category-image" width="150" height="150">
            <span>Prime Hunter</span>
        </a>
        <a href="/number-puzzle/sodoku" class="category-card" data-game-category="sequence">
            <img src="/imgs/sodoku-70.webp" alt="Sodoku" class="category-image" width="150" height="150">
            <span>Sodoku</span>
        </a>
    </div>
</div>