<link rel="stylesheet" href="/styles/blog.css">
<div class="blog-listing">
    <h1>Trivia Question Bank</h1>
    
    <div class="blog-preview" data-post="movie-trivia">
        <h2>Top 50 Movie Trivia</h2>
        <div class="excerpt">🎬 Lights, Camera, Trivia! Top 50 Movie Trivia Questions & Answers</div>
        <a href="/tbank/movie_top_50_trivia" class="read-more">Read More</a>
    </div>

    <div class="blog-preview" data-post="music-trivia">
        <h2>Top 50 Music Trivia</h2>
        <div class="excerpt">Let's find out how much you know about music</div>
        <a href="/tbank/music_top_50_trivia" class="read-more">Read More</a>
    </div>

    <div class="blog-preview" data-post="bible">
        <h2>Top 50 Bible Trivia</h2>
        <div class="excerpt">Know Your Scriptures...</div>
        <a href="/tbank/bible_top_50_trivia" class="read-more">Read More</a>
    </div>

    <div class="blog-preview" data-post="harry-potter">
        <h2>Top 50 Harry Potter Trivia</h2>
        <div class="excerpt">Discover the interesting facts about the Boy Who Lived...</div>
        <a href="/tbank/harry_potter_top_trivia" class="read-more">Read More</a>
    </div>

    <div class="blog-preview" data-post="star-wars">
        <h2>Top 50  Star Wars Trivia</h2>
        <div class="excerpt">Unleash Your Inner Jedi: The Ultimate Star Wars Trivia Challenge</div>
        <a href="/tbank/star_wars_top_trivia" class="read-more">Read More</a>
    </div>
    
    <!-- Add new preview blocks for weekly posts -->
</div>