[build]
  command = "npm install --platform=linux --arch=x64 && npm run build"
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["axios", "node-fetch", "sharp"]
  included_files = ["fonts/*"]
  generate-image.timeout = 30

[dev]
  framework = "#custom"
  targetPort = 3000
  autoLaunch = false