[build]
  command = "npm install && npm run build"
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["canvas", "axios"]
  included_files = ["fonts/*.ttf"]

[dev]
  framework = "#custom"
  targetPort = 3000
  autoLaunch = false