[build]
  command = "npm install && npm run build"
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["axios", "node-fetch", "@napi-rs/canvas"]
  included_files = ["functions/generate-image/fonts/*"]

[dev]
   framework = "#static"
  targetPort = 8888  # Netlify's default
  autoLaunch = false