<div style="padding-top: 70px;" >
    <h2>Word Games</h2>
    <hr class="divider">
    <div class="game-categories" role="region" aria-label="Number Puzzle Category Selection">
        <a href="/word-game/classic" class="category-card" data-category="classic">
            <img src="/imgs/guess.webp" alt="Guess The Word" class="category-image" width="150" height="150">
            <span>Guess The Word</span>
        </a>
        <a href="/word-game/anagram" class="category-card" data-category="anagram">
            <img src="/imgs/anagram.webp" alt="Anagrams" class="category-image" width="150" height="150">
            <span>Anagrams</span>
        </a>
        <a href="/word-game/boggle" class="category-card" data-category="boggle">
            <img src="/imgs/boggle.webp" alt="Spelling Bee" class="category-image" width="150" height="150">
            <span>Boggle</span>
        </a>
    
        <a href="/word-game/spelling" class="category-card" data-category="spelling">
            <img src="/imgs/spelling.webp" alt="Spelling Bee" class="category-image" width="150" height="150">
            <span>Spelling Bee</span>
        </a>

        <a href="/word-game/wordsearch" class="category-card" data-category="wordsearch">
            <img src="/imgs/wordsearch.webp" alt="Word Search" class="category-image" width="150" height="150">
            <span>Word Search</span>
        </a>

        <a href="/word-game/wordladder" class="category-card" data-category="wordladder">
            <img src="/imgs/wordladder.webp" alt="Word Ladder" class="category-image" width="150" height="150">
            <span>Word Ladder</span>
        </a>
    </div>
</div>    